@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout_for_Admin.cshtml";
}

    <div class="jumbotron">
        <h1>BANK</h1>
        <p class="lead">ADMIN,</p>
        <p class="lead">WELCOME TO INTERNET-BANK!</p>
    </div>
