
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width;" />
    <title>ДОБАВЛЕНИЕ КЛИЕНТА ПРОШЛО УСПЕШНО</title>
</head>
<body>
    <div>
        <table class="table" border="0" cellpadding="4" cellspacing="0" align="center" height="650">
            <tr>
                <th>
                    <table class="table" border="1" cellpadding="4" cellspacing="0" align="center" height="100" style="background-color:greenyellow">
                        <tr>
                            <th>
                                @ViewBag.Message
                            </th>
                        </tr>
                    </table>
                </th>
            </tr>
        </table>
    </div>
    <div>
        @Html.ActionLink("К СПИСКУ", "ReedAll", "Client")
    </div>
</body>
</html>
